@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

https://www.learnrazorpages.com/razor-pages/forms/dates-and-times

https://forums.asp.net/t/2116128.aspx?Display+DateTime+format

https://stackoverflow.com/questions/42275423/date-input-tag-helper-is-not-showing-the-date-from-database/42277305

https://stackoverflow.com/questions/45197119/specify-a-format-for-asp-for-html-tag-asp-net-core

https://stackoverflow.com/questions/58310907/how-do-i-control-the-time-format-in-an-input-field