
@{
    ViewData["Title"] = "Market";
}

<h2>Market</h2>

<form method="post" action="Market">
    <div>
        <label>
            玉米:
        </label>
        <input type="text" name="corn" value="0" />
        <span>個</span>
    </div>
    <div>
        <label>
            花生:
        </label>
        <input type="text" name="peanut" value="0" />
        <span>個</span>
    </div>
    <div>
        <label>
            番茄:
        </label>
        <input type="text" name="tomato" value="0" />
        <span>個</span>
    </div>
    <input type="submit" />
</form>


